 body {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     background: rgb(255, 255, 255);
     padding: 20px;
 }


 .header {
    display: flex;
    align-items: center;
    background: rgb(255, 80, 47);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 10px solid orange;
    justify-content: space-between;
    padding: 0 20px;
 }

 .lblUploadArquivo {
    color: white;
    padding:  25px;
 }

 .logo {
    width: 200px;
    height: auto;
    background-color: rgb(255, 255, 255) ;
    padding:  5px;
    border-radius: 5px;
 }

 .uploadBox {
     background: rgb(255, 80, 47);
     padding: 20px;
     color: rgb(255, 255, 255);
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     margin-bottom: 20px;
  
 }

 .btnInput {
    background: white;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    color: black;
 }

 .btnSend {
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 4px;
    border-color: rgba(0,0,0, 0);
 }



 .cards {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     gap: 30px;
     flex-wrap: wrap;

 }

 .card {
     background: rgb(200, 200, 200);
     border-radius: 10px;
     padding: 15px;
     width: fit-content;
     font-family: monospace, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.356);
 }

 .preview {

     margin-bottom: 10px;
     overflow: hidden;
     border-radius: 5px;
     background: #eee;
     max-width: fit-content;
     height: fit-content;
     object-fit: cover;
 }

 .preview iframe {

     width: 100%;
     height: 100%;
 }

 .info {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     color: rgb(0, 0, 0);
 }

 .filename {
     word-break: normal;
     margin-bottom: 10px;
     font-weight: bold;
 }

 .actions {
     display: flex;
     gap: 10px;
     bottom: auto;
 }


 .btn {
     flex: 1;
     padding: 8px;
     border: double;
     border-radius: 5px;
     cursor: pointer;
     color: rgb(0, 0, 0);
     text-decoration: wavy;
     text-align: center;
 }

 .btnDownload {

     display: inline-block;
     padding: 10px 12px;
     border-radius: 5px;
     border: double;
     color: rgb(0, 0, 0);
     background: #ffffff;

 }

 .btnDownload:hover {
     color: rgb(90, 90, 255);
     background: rgb(182, 182, 255);
     transform: scale(1.1);
     transition: transform 0.3s ease, background-color 0.6s ease;
 }

 .btnDelete {
     display: inline-block;
     height: auto;
     
     padding: 10px 12px;
     border-radius: 5px;
     border: double;
     color: rgb(0, 0, 0);
     text-align: center;
     background: #ffffff;
 }

 .btnDelete:Hover {
     color: rgb(255, 90, 90);
     background: rgb(255, 194, 194);
     transform: scale(1.1);
     transition: transform 0.3s ease, background-color 0.6s ease;
     cursor: pointer;
 }
